.gameboards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
}

.opSpace:hover {
  cursor: pointer;
}

.miss {
  background-color: blue;
  width: 50px;
  height: 50px;
}

.hit {
  background-color: red;
  width: 50px;
  height: 50px;
}

.space,
.opSpace {
  border: 1px solid black;
  background-color: white;
  width: 50px;
  height: 50px;
}

.ship {
  border: 1px solid black;
  background-color: grey;
  width: 50px;
  height: 50px;
}