.gameboards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
}

.space,
.opSpace {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}